body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    background-color: #222;
    color: white;
    padding: 10px 30px;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none; 
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover{
    color: #00bfff;
}

main {
    padding: 30px;
    text-align: center;
}